<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="IncludeExceptionDetails">
					<callbackDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<services>
			<service name="Pos.Arquitetura.TrabalhoFinal.MSMQ.MensageriaService">
				<endpoint address="msmq.formatname:DIRECT=OS:.\private$\mensagens" binding="msmqIntegrationBinding" bindingConfiguration="MensageriaBinding" contract="Pos.Arquitetura.TrabalhoFinal.MSMQ.Contratos.IMensageriaService"/>
			</service>
		</services>
		<bindings>
			<msmqIntegrationBinding>
				<binding name="MensageriaBinding" closeTimeout="00:30:00" receiveTimeout="01:00:00" retryCycleDelay="00:00:10" receiveRetryCount="0" exactlyOnce="true" maxRetryCycles="3">
					<security mode="None"/>
				</binding>
			</msmqIntegrationBinding>
		</bindings>
	</system.serviceModel>
	
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>